{% macro test_tasks(id, test) -%}
  {% if VARIABLES.coverage %}
    <!--generate base .info coverage data labeled TEST_NAME-->
    <task name="/kernel/kcov/start" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/start"/>
      <params>
        <param name="TEST_NAME" value="{{ test.name | e }}"/>
      </params>
    </task>
  {% endif %}
  <task name="{{ test.name }}" role="{{ test.role }}">
    {% if test.origin == "suites_zip" %}
      <fetch url="{{ VARIABLES.suites_zip_url }}#{{ test.location }}"/>
    {% elif test.origin == "kernel_tests" %}
      <fetch url="{{ VARIABLES.kernel_tests_url }}#{{ test.location }}"/>
    {% endif %}
    <params>
      <param name="CKI_ID" value="{{ id }}"/>
      <param name="CKI_NAME" value="{{ test.name | e }}"/>
      {% if test.universal_id is not none %}
        <param name="CKI_UNIVERSAL_ID" value="{{ test.universal_id | e }}"/>
      {% endif %}
      {% if test.waived %}
        <param name="CKI_WAIVED" value="{{ test.waived }}"/>
      {% endif %}
      {% if test.maintainers %}
        {% set sep = joiner(", ") %}
        <param name="CKI_MAINTAINERS" value="
          {%- for m in test.maintainers -%}
            {{- sep() -}}
            {{- "%s <%s>" | format(m.name, m.email) | e -}}
            {%- if 'gitlab' in m -%}
              {{- (" / " + m.gitlab) | e -}}
            {%- endif -%}
          {%- endfor -%}
        "/>
      {% endif %}
      <param name="CKI_SELFTESTS_URL" value="{{ VARIABLES.selftests_url }}"/>
      <param name="KILLTIMEOVERRIDE" value="{{ test.max_duration_seconds }}"/>
      {% for name, value in test.environment.items() %}
        <param name="{{ name }}" value="{{ value }}"/>
      {% endfor %}
    </params>
  </task>
  {% if VARIABLES.coverage %}
    <!--generate end .info and merge with base .info of TEST_NAME-->
    <task name="/kernel/kcov/end" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/end"/>
      <params>
        <param name="TEST_NAME" value="{{ test.name | e }}"/>
      </params>
    </task>
  {% endif %}
{% endmacro %}
{# #}
{% macro host_condition(arch, tree, condition,
                        parent_and_op=True, and_op=True) %}
  {% if condition is string %}
    {% if condition.startswith("T:") %}
      {% set ARCH = arch %}
      {% set TREE = tree %}
      {%- include condition[2:] -%}
    {% elif condition.startswith("H:") %}
      <hostname op="=" value="{{ condition[2:] }}"/>
    {% else %}
      {{ "Invalid string condition" / 0 }}
    {% endif %}
  {% elif condition is mapping %}
    {% if and_op != parent_and_op and condition | length > 1 %}
      {{ "<and>" if and_op else "<or>" }}
    {% endif %}
    {% for k, v in condition.items() %}
      {% if k == "not" %}
        <not>{{ host_condition(arch=arch, tree=tree,
                               condition=v) }}</not>
      {% elif k == "or" %}
        {{ host_condition(arch=arch, tree=tree, condition=v,
                          parent_and_op=and_op, and_op=False) }}
      {% elif k == "and" %}
        {{ host_condition(arch=arch, tree=tree, condition=v,
                          parent_and_op=and_op, and_op=True) }}
      {% elif k == "templates" %}
        {{ host_condition(arch=arch, tree=tree, condition=v,
                          parent_and_op=and_op) }}
      {% elif k == "hostnames" %}
        {{ host_condition(arch=arch, tree=tree, condition=v,
                          parent_and_op=and_op) }}
      {% else %}
        {{ "Invalid host condition key" / 0 }}
      {% endif %}
    {% endfor %}
    {% if and_op != parent_and_op and condition | length > 1 %}
      {{ "</and>" if and_op else "</or>" }}
    {% endif %}
  {% elif condition is sequence %}
    {% if and_op != parent_and_op and condition | length > 1 %}
      {{ "<and>" if and_op else "<or>" }}
    {% endif %}
    {% for v in condition %}
      {{ host_condition(arch=arch, tree=tree, condition=v,
                        parent_and_op=and_op) }}
    {% endfor %}
    {% if and_op != parent_and_op and condition | length > 1 %}
      {{ "</and>" if and_op else "</or>" }}
    {% endif %}
  {% else %}
    {{ "Invalid host condition type" / 0 }}
  {% endif %}
{% endmacro %}
{# #}
{% macro recipe(host,
                kernel,
                tree,
                arch,
                tests_ns,
                distro_requires="",
                host_requires="",
                kernel_options="",
                kernel_options_post="",
                ks_append="",
                repos="") %}
  {% set TREE = tree %}
  {% set ARCH = arch %}
  <!-- host type: {{ host.type_name }} -->
  {# NOTE(rasibley): Omits the fedora-updates repo for Fedora, see bz 1734557 #}
  <recipe
    ks_meta="
      {%- if not TREE.startswith("rhel6") -%}
        {{- "redhat_ca_cert " -}}
      {%- endif -%}
      {# Workaround a problem using ppc64le machines with outdated petitboot #}
      {# https://bugzilla.redhat.com/show_bug.cgi?id=1997832 #}
      {% if (
             ARCH=="ppc64le" and
             (TREE.startswith("rhel9") or
              TREE.startswith("c9s") or
              TREE.startswith("rawhide") or
              TREE.startswith("upstream"))) %}
        {{- "no_autopart " -}}
      {%- endif -%}
      {{- "harness='restraint-rhts beakerlib' " -}}
      {# Set selinux to permissive mode to get all avc denials in one fell swoop #}
      {{- "selinux=--permissive" -}}
    "
    kernel_options="{{ kernel_options }}"
    kernel_options_post="{{ kernel_options_post }}"
  >
    <distroRequires>
      <distro_arch op="=" value="{{ ARCH }}"/>
      {{- distro_requires -}}
    </distroRequires>
    {% if VARIABLES.hostname %}
      <hostRequires>
        <hostname op="like" value="{{ VARIABLES.hostname }}"/>
      </hostRequires>
    {% elif host['hostname'] %}
      <hostRequires force="{{ host['hostname'] }}" />
    {% else %}
      <hostRequires>
        {% for bus in VARIABLES.device_buses.split(',') if VARIABLES.device_buses %}
          <device op="=" bus="{{ bus }}" />
        {% endfor %}
        {% for driver in VARIABLES.device_drivers.split(',') if VARIABLES.device_drivers %}
            <device op="=" driver="{{ driver }}" />
        {% endfor %}
        {% for type in VARIABLES.device_types.split(',') if VARIABLES.device_types %}
            <device op="=" type="{{ type }}" />
        {% endfor %}
        <arch op="=" value="{{ ARCH }}"/>
        {% if ARCH == "x86_64" %}
          <not>
            <or>
              {# NOTE(mhayden): Exclude XCI machines from test jobs since they #}
              {# are not actively maintained by anyone. #}
              <hostname op="like" value="xci%"/>
              <hostname op="=" value="c101.xci.lab.eng.rdu2.redhat.com"/>
              <hostname op="=" value="c106.xci.lab.eng.rdu2.redhat.com"/>
              {# dell-pe-fm120-2b is an old machine and has HW problems #}
              {# https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/699 #}
              <hostname op="=" value="dell-pe-fm120-2b.dell2.lab.eng.bos.redhat.com"/>
              {# dell-pe-fm120-1c is an old machine and has HW problems #}
              {# https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/702 #}
              <hostname op="=" value="dell-pe-fm120-1c.dell2.lab.eng.bos.redhat.com"/>
              {# dell-pe-fm120-2d is an old machine and has HW problems #}
              {# https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/736 #}
              <hostname op="=" value="dell-pe-fm120-2d.dell2.lab.eng.bos.redhat.com"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH == "aarch64" %}
          <not>
            <or>
              <hostname op="like" value="hpe-comanche%"/>
              <hostname op="like" value="dell-venom%"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH == "s390x" %}
          <not>
            <or>
              {# NOTE(bgoncav): provisioning of these kernelci machines are not reliable #}
              <hostname op="like" value="kernelci-%.s390.bos.redhat.com"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH != "s390x" %}
          <or>
            <labcontroller op="=" value="lab-02.rhts.eng.bos.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.rdu.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.brq.redhat.com"/>
            <labcontroller op="=" value="beaker.ofa.iol.unh.edu"/>
          </or>
        {% endif %}
        {{ host_condition(arch=arch, tree=tree, condition=host.condition) }}
        {{- host_requires -}}
      </hostRequires>
    {% endif %}
    <repos>
      {{- repos -}}
    </repos>
    <partitions>
      {%- for template in host.partitions_list -%}
        {%- include template -%}
      {%- endfor -%}
    </partitions>
    <ks_appends>
      <ks_append><![CDATA[
{% if (
       ARCH=="ppc64le" and
       (TREE.startswith("rhel9") or
        TREE.startswith("c9s") or
        TREE.startswith("rawhide") or
        TREE.startswith("upstream"))) %}
# workaround for problem using ppc64le machines with outdated petitboot
# https://bugzilla.redhat.com/show_bug.cgi?id=1997832
reqpart
part /boot --recommended --fstype ext4
part swap --recommended
part / --size 10 --grow --fstype xfs
{% endif %}

%post
set -x

# workaround for https://github.com/restraint-harness/restraint/issues/273
echo '\bOops\b' > /usr/share/rhts/failurestrings
echo '\bBUG\b' >> /usr/share/rhts/failurestrings
echo 'NMI appears to be stuck' >> /usr/share/rhts/failurestrings
echo 'Badness at' >> /usr/share/rhts/failurestrings

sed -i 's/^#DefaultTasksMax.*/DefaultTasksMax=50%/' /etc/systemd/system.conf
# Patch restraint's localwatchdog plugin to abort the recipe instead of warning,
# when a task goes over KILLTIMEOVERRIDE. See FASTMOVING-886 and FASTMOVING-1224.
sed -i 's|rstrnt-reboot|rstrnt-abort --server $RSTRNT_RECIPE_URL/tasks/$TASKID/status\nrstrnt-reboot|' /usr/share/restraint/plugins/localwatchdog.d/99_reboot

# Show information the test aborted due to localwatchdog
cat >> /usr/share/restraint/plugins/localwatchdog.d/10_localwatchdog << EOF
echo "\${RSTRNT_TASKNAME} hit test timeout, aborting it..." >> /dev/kmsg
EOF

# add restraint plugins to check if test is running on expected kernel
# https://gitlab.com/redhat/centos-stream/tests/kernel/kpet-db/-/issues/56
cat > /usr/share/restraint/plugins/task_run.d/20_check_kernel_version << EOF
#!/bin/sh
# Don't run from PLUGINS
if [ -n "\$RSTRNT_NOPLUGINS" ]; then
    exec "\$@"
    exit 0
fi
if [ -e /var/opt/cki/kernel_version ] && [ -n "\${RSTRNT_TASKID}" ]; then
    kernel_version=\$(uname -r)
    cki_kernel_version=\$(cat /var/opt/cki/kernel_version)
    if [ "\${kernel_version}" != "\${cki_kernel_version}" ]; then
        echo "aborting as system is running kernel \$kernel_version and not the expected \$cki_kernel_version"
        rstrnt-report-result "\${RSTRNT_TASKNAME}" "WARN"
        rstrnt-abort -t recipe
        exit 1
    fi
fi
exec "\$@"
EOF
chmod +x /usr/share/restraint/plugins/task_run.d/20_check_kernel_version

# add restraint plugins to get console log for each task
# https://restraint.readthedocs.io/en/latest/plugins.html
cat > /usr/share/restraint/plugins/task_run.d/30_init_test_console_log << EOF
#!/bin/sh
if [ -z "\${LAB_CONTROLLER}" ] || [ -z "\${RSTRNT_RECIPEID}" ] || [ -z "\${RSTRNT_TASKID}" ]; then
    # not automated job in beaker
    exec "\$@"
    exit 0
fi
# Don't run from PLUGINS
if [ -n "\$RSTRNT_NOPLUGINS" ]; then
    exec "\$@"
    exit 0
fi
# clean up dmesg before running test, as some tests check dmesg to search for errors
# https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/782
# restraint already has report_result.d/30_dmesg_clear that do the same,
# but as it runs in the end of a task, it might not run in case task gets aborted
dmesg -C
# Add test information to console.log, when running with UPT this information is not there
echo "Running test [R:\${RSTRNT_RECIPEID} T:\${RSTRNT_TASKID} - \${RSTRNT_TASKNAME:-unknown} - Kernel: \$(uname -r)]" > /dev/kmsg
mkdir -p /var/opt/cki/\${RSTRNT_TASKID}
_cki_init_file=/var/opt/cki/\${RSTRNT_TASKID}/init_console.log
if [ ! -e \${_cki_init_file} ]; then
    # save the log the first time the task starts. Don't override the file in case of reboot.
    curl --silent --show-error --retry 5 "http://\${LAB_CONTROLLER}:8000/recipes/\${RSTRNT_RECIPEID}/logs/console.log" -o \${_cki_init_file}
fi
exec "\$@"
EOF
chmod +x /usr/share/restraint/plugins/task_run.d/30_init_test_console_log

# plugins under completed.d should run even in case of localwatchdog
cat > /usr/share/restraint/plugins/completed.d/80_finish_console_log << EOF
#!/bin/sh
if [ -z "\${LAB_CONTROLLER}" ] || [ -z "\${RSTRNT_RECIPEID}" ] || [ -z "\${RSTRNT_TASKID}" ]; then
    # not automated job in beaker
    exit 0
fi
_cki_init_file=/var/opt/cki/\${RSTRNT_TASKID}/init_console.log
_cki_end_file=/var/opt/cki/\${RSTRNT_TASKID}/end_console.log
_cki_console_file=/var/opt/cki/\${RSTRNT_TASKID}/test_console.log
if [ ! -e \${_cki_init_file} ]; then
    exit 0
fi
# there is some delay on console.log
sleep 15
curl --silent --show-error --retry 5 "http://\${LAB_CONTROLLER}:8000/recipes/\${RSTRNT_RECIPEID}/logs/console.log" -o \${_cki_end_file}
diff --changed-group-format='%>' --unchanged-group-format='' \${_cki_init_file} \${_cki_end_file} > \${_cki_console_file}
# if the file is empty restraint will skip the upload
rstrnt-report-log -l "\${_cki_console_file}"
EOF
chmod +x /usr/share/restraint/plugins/completed.d/80_finish_console_log

{% if not TREE.startswith("rhel6") %}
# Patch restraintd service to continue after OOM, some tests generate OOM and restraintd should continue to run
sed -i '/OOMScoreAdjust=.*/a OOMPolicy=continue' /usr/lib/systemd/system/restraintd.service
{% endif %}
{# NOTE(bgoncalv): Add RHEL6 Red Hat CA Cert #}
{% if TREE.startswith("rhel6") %}
curl -L --retry 20 --remote-time -o /etc/pki/ca-trust/source/anchors/RH-IT-Root-CA.crt https://password.corp.redhat.com/RH-IT-Root-CA.crt
update-ca-trust enable
update-ca-trust extract
{% endif %}
{# NOTE(rasibley): Silence dmesg warnings for known issues #}
mkdir -p /usr/share/rhts/
cat >/usr/share/rhts/falsestrings <<EOF
BIOS BUG
DEBUG
mapping multiple BARs.*IBM System X3250 M4
MAX_LOCKDEP_CHAIN_HLOCKS
BUG: KASAN: use-after-free in string_nocheck
watchdog: BUG: soft lockup - CPU
EOF
{% if TREE.endswith("rt") %}
sed -i '/^isolated_cores/d' /etc/tuned/realtime-variables.conf
echo "isolated_cores=" >> /etc/tuned/realtime-variables.conf
{% endif %}

# Workaround for beaker not configuring sources repo, see: RITM1098030
{% if (TREE.startswith("rhel8") or TREE.startswith("rhel9")) %}
# For the test we need to download sources, it looks like only BaseOS is enough
cp /etc/yum.repos.d/beaker-BaseOS-debuginfo.repo /etc/yum.repos.d/cki-BaseOS-source.repo
sed -i 's/debuginfo/source/' /etc/yum.repos.d/cki-BaseOS-source.repo
sed -i 's/{{ ARCH }}\/debug/source/' /etc/yum.repos.d/cki-BaseOS-source.repo
{% endif %}

%end
]]></ks_append>
      {%- for template in host.kickstart_list -%}
        {%- include template -%}
      {%- endfor -%}
      {{- ks_append -}}
    </ks_appends>
    {% if host.ignore_panic %}
      <watchdog panic="ignore"/>
    {% endif %}
    {# NOTE(bgrech): Workaround for automotive rpm-ostree  BZ 2113042. #}
    {% if TREE == "c9s-rt" %}
      <task name="/distribution/command" role="None">
        <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/command"/>
        <params>
          <param name="CMDS_TO_RUN" value="if [ -e /run/ostree-booted ]; then sed -i 's/$stream/9-stream/g' /etc/yum.repos.d/*; fi"/>
        </params>
      </task>
    {% endif %}
    <task name="SELinux Custom Module Setup" role="None">
      <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/selinux-custom-modules"/>
      <params>
        <param name="CKI_ID" value="{{ tests_ns.id }}"/>
        <param name="CKI_NAME" value="SELinux Custom Module Setup"/>
        <param name="CKI_UNIVERSAL_ID" value="selinux_custom_module_setup"/>
        <param name="CKI_WAIVED" value="True"/>
      </params>
    </task>
    {% set tests_ns.id = tests_ns.id + 1 %}
    <task name="/distribution/check-install" role="STANDALONE">
      <fetch url="https://github.com/beaker-project/beaker-core-tasks/archive/master.zip#check-install"/>
      <params/>
    </task>
    {# NOTE(rasibley): upstream jobs require latest kmod #}
    {% if TREE == "upstream" %}
      <task name="/distribution/command" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/command"/>
        <params>
          <param name="TESTARGS" value="dnf update -y kmod --enablerepo=updates-testing"/>
        </params>
      </task>
    {% endif %}
    {# NOTE(mhayden): Workaround for ppc64le + 4.20. BZ 1647947. #}
    {% if ARCH == "ppc64le" and not TREE.startswith("rhel7") %}
      <task name="/distribution/command" role="None">
        <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/command"/>
        <params>
          <param name="CMDS_TO_RUN" value="echo 'net.core.bpf_jit_limit = 262144000' | tee -a /etc/sysctl.d/ppc64le-bpf-jit-fix.conf"/>
        </params>
      </task>
    {% endif %}
    <task name="/test/misc/machineinfo">
      <fetch url="{{ VARIABLES.suites_zip_url }}#test/misc/machineinfo"/>
      <params>
        <param name="CKI_ID" value="{{ tests_ns.id }}"/>
        <param name="CKI_NAME" value="machineinfo"/>
        <param name="CKI_UNIVERSAL_ID" value="machineinfo"/>
        {# Failures in this task should never block pipelines #}
        <param name="CKI_WAIVED" value="True"/>
      </params>
    </task>
    {% set tests_ns.id = tests_ns.id + 1 %}
    {% if host.preboot_tasks %}
      {% include host.preboot_tasks %}
    {% endif %}
    {% if kernel is not none %}
      <task name="Boot test" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/kpkginstall"/>
        <params>
          <param name="CKI_ID" value="{{ tests_ns.id }}"/>
          <param name="CKI_NAME" value="Boot test"/>
          <param name="CKI_UNIVERSAL_ID" value="boot"/>
          <param name="CKI_MAINTAINERS" value="Bruno Goncalves &lt;bgoncalv@redhat.com&gt; / bgoncalv"/>
          <param name="KPKG_URL" value="{{ kernel }}"/>
          <param name="KILLTIMEOVERRIDE" value="3600"/>
        </params>
      </task>
      {% set tests_ns.id = tests_ns.id + 1 %}
    {% endif %}
    {% if VARIABLES.coverage %}
      <task name="/kernel/kcov/prepare" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/prepare"/>
        <params>
          <!--don't log .info file for every test to decrease size of artifacts-->
          <param name="ONLY_FINAL_INFO" value="true"/>
          {% if VARIABLES.coverage_dirs %}
              <param name="KDIR" value="{{ VARIABLES.coverage_dirs }}"/>
          {% endif %}
        </params>
      </task>
    {% endif %}
    {% if host.postboot_tasks %}
      {% include host.postboot_tasks %}
    {% endif %}
    {% for test in host.tests %}
      {{- test_tasks(tests_ns.id, test) -}}
      {% set tests_ns.id = tests_ns.id + 1 %}
    {% endfor %}
    {% if VARIABLES.coverage %}
      <!--combine all coverage files for the recipe into one. Generate html tgz
          if this is the only recipe-->
      <task name="/kernel/kcov/finalize" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#kcov/finalize"/>
        <params>
          <param  name="KILLTIMEOVERRIDE" value="{{ host.tests|length * 600 }}"/>
        </params>
      </task>
    {% endif %}
    {# reboot test should run as last test task #}
    {# workaround for https://gitlab.com/cki-project/upt/-/issues/63 #}
    <task name="Reboot test" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#misc/reboot-test"/>
      <params>
        <param name="CKI_ID" value="{{ tests_ns.id }}"/>
        {% set tests_ns.id = tests_ns.id + 1 %}
        <param name="CKI_NAME" value="Reboot test"/>
        <param name="CKI_UNIVERSAL_ID" value="reboot_test"/>
        <param name="CKI_MAINTAINERS" value="Bruno Goncalves &lt;bgoncalv@redhat.com&gt; / bgoncalv"/>
        <param name="KILLTIMEOVERRIDE" value="3600"/>
      </params>
    </task>
    {# dummy task to be executed last #}
    {# https://gitlab.com/cki-project/upt/-/issues/56#note_908988653 #}
    <task name="/distribution/command" role="STANDALONE">
      <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/command"/>
      <params>
        <param name="TESTARGS" value=":"/>
      </params>
    </task>
  </recipe>
{% endmacro %}
{# #}
<?xml version="1.0" encoding="UTF-8"?>
<job retention_tag="60days" group="{{ VARIABLES.job_group }}">
  <whiteboard>{{ DESCRIPTION }}</whiteboard>

  {#
    Collect recipesets and their scenes into a flat list, so that we can sort
    recipesets by their host types to maintain stable output order and
    simplify tracking both kpet and kpet-db changes.
  #}
  {# TODO Switch back to SCENE/recipeset iterating after changes are done #}
  {% set host_types_scene_recipesets = [] %}
  {% for scene in SCENES %}
    {% for recipeset in scene.recipesets %}
      {% set _ = host_types_scene_recipesets.append({
          "types": recipeset | map(attribute="type_name") | join("\n"),
          "scene": scene,
          "recipeset": recipeset
         })
      %}
    {% endfor %}
  {% endfor %}

  {# Start with global test ID = 1 #}
  {% set tests_ns = namespace(id=1) %}

  {# Build recipeSets of normal host types #}
  {% for host_types_scene_recipeset in
         host_types_scene_recipesets |
         sort(attribute="types", case_sensitive=True) %}
    {% set scene = host_types_scene_recipeset.scene %}
    {% set recipeset = host_types_scene_recipeset.recipeset %}
    {% set TREE = scene.tree %}
    {% set ARCH = scene.arch %}
    {% import "trees/" + TREE + ".j2" as tree with context %}
    <recipeSet>
      {% for host in recipeset %}
        {{- recipe(host=host,
                   kernel=scene.kernel,
                   tree=scene.tree,
                   arch=scene.arch,
                   tests_ns=tests_ns,
                   distro_requires=tree.distro_requires | default(""),
                   host_requires=tree.host_requires | default(""),
                   kernel_options=[
                      tree.kernel_options | default(""), host.kernel_options
                   ] | select | join(" "),
                   kernel_options_post=[
                      tree.kernel_options_post | default(""), host.kernel_options_post
                   ] | select | join(" "),
                   ks_append=tree.ks_append | default(""),
                   repos=tree.repos | default("")) -}}
      {% endfor %}
    </recipeSet>
  {% endfor %}
</job>
