{% if ARCH == "aarch64" %}
  <not>
    <hostname op="like" value="qualcomm-amberwing%"/>
  </not>
{% endif %}
{% if ARCH == "x86_64" %}
  <not>
    <hostname op="like" value="nec-em16%"/>
  </not>
{% endif %}

